<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
  "https://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <property name="fileExtensions" value=""/>

  <module name="BeforeExecutionExclusionFileFilter">
      <property name="fileNamePattern" value="bc\-test\-data[\\/]"/>
  </module>

  <module name="io.spring.nohttp.checkstyle.check.NoHttpCheck">
    <property name="allowlistFileName" value="${nohttp.checkstyle.allowlistFileName}" default=""/>
  </module>

  <module name="SuppressionFilter">
    <property name="file" value="${config_loc}/suppressions.xml" default=""/>
    <property name="optional" value="false"/>
  </module>

  <module name="SuppressWithPlainTextCommentFilter"/>
</module>
