.classpath
.gradle
.project

*.class
*.gen
*/*.gen
*.swp
*.iml
*/*.iml

bin/
build/
*/build/
out/
*/out/
.settings/

pg/*.asc
pg/*.bak
pg/*.bpg
pg/*.txt

.idea

codesigning.jks

/prov/src/main/core/

