.classpath
.gradle
.project

*.class
*.gen
*/*.gen
*.swp
*.iml
*/*.iml

bin/
build/
*/build/
libs/*.jar
out/
*/out/
.settings/

pg/*.asc
pg/*.bak
pg/*.bpg
pg/*.txt

.idea

codesigning.jks

/prov/src/main/core/

bc-build.user.properties

# files created during tests
mail/compressed.message
mail/encrypted.message
mail/id.p12
mail/signed.message
